
<div class="container">
      <form class="row g-3 m-5" action='/productos' method='post'>
        <div class="col-md-8">
          <label for='nombre' class="form-label">Title</label>
          <input type='text'class="form-control" name='nombre' id='nombre' />
        </div>
        <div class="col-8">
          <label for='precio' class="form-label">Precio</label>
		      <input type='text'class="form-control" name='precio' id='precio' />
        </div>
        <div class="col-8">
          <label for='imagen' class="form-label">Imagen</label>
		      <input type='text' class="form-control" name='imagen' id='imagen' />
        </div>
        <div class="col-12">
          <input type='submit' class="btn btn-primary" value='submit' />
        </div>
        <div>
            <a href='/productos'>Show all Products</a>
        </div>
      </form>
</div>
ñ